<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".diagnostics.debug.DiagnosticDebugReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_CHECK" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_FULL_DIAGNOSTIC" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_AUDIO_TRUTH" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_SERVER_PRESENCE_CHECK" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_RELAY_INBOX_SYNC" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CHAT_SERVER_SEND" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CHAT_READ" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_START" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_RINGING" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_ACCEPT" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_REJECT" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_END" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_FULL_ACCEPT" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_CALL_SERVER_FULL_REJECT" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_OUTBOUND_CALL_TO_VIRTUAL_PEER" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_OUTBOUND_CALL_TO_VIRTUAL_PEER_AUTO_ACCEPT" />
                <action android:name="com.ghalbitnet.meshx2.debug.RUN_VIRTUAL_PEER_INBOX_CHECK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
